<style>
.print-format {
    font-family: monospace;
    width: 8.5in;
    min-height: 14in;
    
    margin-top: 0mm;
    margin-left: 0mm;
    margin-right: 0mm;
    margin-bottom: 0mm;
    
    padding-top: 0mm;
    padding-left: 0mm;
    padding-right: 0mm;
    margin-bottom: 0mm;
}
</style>
<span style="top: 3.5in; left: 3.92in; position: absolute;">123</span>

<div>
    <img src="/assets/phbir/img/forms/2307-1.png" height="100%" width="100%" style="position: absolute; top: 0; left: 0; z-index: -1;">
</div>

<!-- <div style="page-break-before: always;">
    <img src="/assets/phbir/img/forms/2307-2.png" height="100%" width="100%" style="position: absolute; top: 13in; left: 0; z-index: -1;">
</div> -->