<style>
.print-format {
    font-family: monospace;
    font-size: 0.80em;
    width: 8.5in;
    min-height: 14in;
    
    margin-top: 0mm;
    margin-left: 0mm;
    margin-right: 0mm;
    margin-bottom: 0mm;
    
    padding-top: 0mm;
    padding-left: 0mm;
    padding-right: 0mm;
    margin-bottom: 0mm;
}
.bir-form-text {
    font-size: 0.80em;
    width: 100%;
    position: absolute;
}
.bir-form-amount {
    text-align: right;
}
.bir-form-data {
    font-size: 0.70em;
}
</style>
<div style="left: 2.14in; top: 1.64in; letter-spacing: 0.1in;" class="bir-form-text">12</div>
<div style="left: 2.53in; top: 1.64in; letter-spacing: 0.1in;" class="bir-form-text">27</div>
<div style="left: 2.89in; top: 1.64in; letter-spacing: 0.1in;" class="bir-form-text">1989</div>


<div style="left: 2.93in; top: 2.08in; letter-spacing: 0.1in;" class="bir-form-text">{{ payee.tin[:3] }}</div>
<div style="left: 3.63in; top: 2.08in; letter-spacing: 0.1in;" class="bir-form-text">{{ payee.tin[3:6] }}</div>
<div style="left: 4.35in; top: 2.08in; letter-spacing: 0.1in;" class="bir-form-text">{{ payee.tin[6:9] }}</div>
<div style="left: 5.08in; top: 2.08in; letter-spacing: 0.13in;" class="bir-form-text">{{ payee.tin[9:14] }}</div>


<div style="left: 0.53in; top: 2.50in;" class="bir-form-text">{{ payee.supplier_name }}</div>
<div style="left: 0.53in; top: 2.92in;" class="bir-form-text">{{ payee.address }}</div>
<div style="left: 7.58in; top: 2.92in; letter-spacing: 0.1in;" class="bir-form-text">{{ payee.zipcode[:4] }}</div>

<div style="left: 5.59in; top: 1.64in; letter-spacing: 0.1in;" class="bir-form-text">12</div>
<div style="left: 5.98in; top: 1.64in; letter-spacing: 0.1in;" class="bir-form-text">27</div>
<div style="left: 6.34in; top: 1.64in; letter-spacing: 0.1in;" class="bir-form-text">1989</div>

<div style="left: 2.93in; top: 3.80in; letter-spacing: 0.1in;" class="bir-form-text">{{ payor.tin[:3] }}</div>
<div style="left: 3.63in; top: 3.80in; letter-spacing: 0.1in;" class="bir-form-text">{{ payor.tin[3:6] }}</div>
<div style="left: 4.35in; top: 3.80in; letter-spacing: 0.1in;" class="bir-form-text">{{ payor.tin[6:9] }}</div>
<div style="left: 5.08in; top: 3.80in; letter-spacing: 0.13in;" class="bir-form-text">{{ payor.tin[9:14] }}</div>


<div style="left: 0.53in; top: 4.22in;" class="bir-form-text">{{ payor.company_name }}</div>
<div style="left: 0.53in; top: 4.64in;" class="bir-form-text">{{ payor.address }}</div>
<div style="left: 7.58in; top: 4.64in; letter-spacing: 0.1in;" class="bir-form-text">{{ payor.zipcode[:4] }}</div>

<div class="bir-form-data">
    {% set top = 5.52 %}
    <table style="left: 0.53in; top: 5.50in; border: 1px solid red;" width="200px" class="bir-form-text">
        <tbody>
            <tr height="28px">
                <td width="120px">test</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr height="28px">
                <td width="120px">test2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr height="28px">
                <td width="120px">test3</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    {% for entry in data %}
        {% if entry.payment_type == 'Income Payment' %}
            <div style="left: 0.53in; top: {{ top }}in;" class="bir-form-text">{{ entry.document_no }} - {{ top }}</div>
            <div style="left: 2.53in; top: {{ top }}in;" class="bir-form-text">{{ entry.atc }}</div>
            <div style="left: 3.05in; top: {{ top }}in;" class="bir-form-text">
                <div style="width: 0.95in;" class="bir-form-amount">{{ "{:,.2f}".format(entry.month_1) }}</div>
            </div>
            <div style="left: 3.05in; top: 5.72in;" class="bir-form-text">
                <div style="width: 0.95in;" class="bir-form-amount">{{ "{:,.2f}".format(123125) }}</div>
            </div>
            <div style="left: 4.08in; top: {{ top }}in;" class="bir-form-text">
                <div style="width: 0.95in;" class="bir-form-amount">{{ "{:,.2f}".format(entry.month_2) }}</div>
            </div>
            <div style="left: 5.10in; top: {{ top }}in;" class="bir-form-text">
                <div style="width: 0.95in;" class="bir-form-amount">{{ "{:,.2f}".format(entry.month_3) }}</div>
            </div>
            <div style="left: 6.11in; top: {{ top }}in;" class="bir-form-text">
                <div style="width: 0.95in;" class="bir-form-amount">{{ "{:,.2f}".format(entry.total) }}</div>
            </div>
            <div style="left: 7.10in; top: {{ top }}in;" class="bir-form-text">
                <div style="width: 1.12in;" class="bir-form-amount">{{ "{:,.2f}".format(entry.tax_withheld_for_the_quarter) }}</div>
            </div>
            <div style="left: 0.53in; top: {{ top }}in;" class="bir-form-text">{{ entry.document_no }}</div>
            <div style="left: 0.53in; top: {{ top }}in;" class="bir-form-text">{{ entry.document_no }}</div>
            <!-- <div style="left: 0.53in; top: {{ top }}in;" class="bir-form-text">{{ entry.document_no }}</div> -->
            <div style="left: 5.53in; top: {{ top }}in;" class="bir-form-text">{{ top }}</div>
            {% set top = top + 0.3 %}
            {{ top }}
        {% endif %}
    {% endfor %}
</div>
data
{{ data }}

<div>
    <!-- <img src="/assets/phbir/img/forms/2307-1.png" height="100%" width="100%" style="position: absolute; top: 0; left: 0; z-index: -1;"> -->
    <img src="https://erpnextsandbox.serviotech.com/assets/phbir/img/forms/2307-1.png" height="100%" width="100%" style="position: absolute; top: 0; left: 0; z-index: -1;">
</div>

<!-- <div style="page-break-before: always;">
    <img src="/assets/phbir/img/forms/2307-2.png" height="100%" width="100%" style="position: absolute; top: 13in; left: 0; z-index: -1;">
</div> -->
