<style>
.print-format {
    font-family: monospace;
}
/*@media screen, print {
	.print-format {
		width: 8.5in;
		min-height: 14in;
		
        margin-top: 0mm;
        margin-left: 0mm;
        margin-right: 0mm;
        margin-bottom: 0mm;
        
        padding-top: 0mm;
        padding-left: 0mm;
        padding-right: 0mm;
        margin-bottom: 0mm;
	}
}
@media screen, print {
	.print-format {
        background-image: url('assets/phbir/img/forms/2307-1.png');
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        background-color: rgba(255, 255, 255, .2);
	}
}
*/
</style>
<div style="background-image: url('/assets/phbir/img/forms/2307-1.png');">
aaaaa
<b>bbbbb</b>
</div>

<img src="/assets/phbir/img/forms/2307-1.png" height="100%" width="100%">
<img src="/files/company_logo.png" height="100%" width="100%">

<div>
    hellow
</div>