<style>
    .print-format {
        font-family: monospace;
        font-size: 0.80em;
        width: 8.5in;
        min-height: 14in;
        
        margin-top: 0mm;
        margin-left: 0mm;
        margin-right: 0mm;
        margin-bottom: 0mm;
        
        padding-top: 0mm;
        padding-left: 0mm;
        padding-right: 0mm;
        margin-bottom: 0mm;
    }
    .bir-form-text {
        font-size: 0.80em;
        width: 100%;
        position: absolute;
    }
    .bir-form-text-footer {
        font-size: 0.80em;
        position: absolute;
        text-align: center:
    }
    .bir-form-amount {
        text-align: right;
        width: 1.65in;
        /*border: solid red 1px;*/
    }
    .bir-form-data {
        font-size: 0.70em;
    }
    table.table-income-payments {
        left: 0.28in; 
        top: 5.44in; 
        width: 8in;
    }
    table.table-income-payments tr td {
        height: 18px;
        text-align: right;
    }
    
    table.table-money-payments {
        left: 0.28in; 
        top: 7.98in; 
        width: 8in;
    }
    table.table-money-payments tr td {
        height: 18px;
        text-align: right;
    }
</style>
<div style="left: 2.63in; top: 1.26in; letter-spacing: 0.08in;" class="bir-form-text">{{ ("0" + month)[-2:] }}</div>
<div style="left: 2.96in; top: 1.26in; letter-spacing: 0.13in;" class="bir-form-text">{{ year }}</div>

<!-- cover the circles! -->
<div style="left: 2.52in; top: 1.68in; width: 0.41in; height: 0.16in; z-index: 1; background-color: white;" class="bir-form-text"></div>


<div style="left: 0.96in; top: 1.68in; letter-spacing: 0.07in;" class="bir-form-text">{{ company.tin[:3] }}</div>
<div style="left: 1.48in; top: 1.68in; letter-spacing: 0.07in;" class="bir-form-text">{{ company.tin[3:6] }}</div>
<div style="left: 2.01in; top: 1.68in; letter-spacing: 0.07in;" class="bir-form-text">{{ company.tin[6:9] }}</div>
<div style="left: 2.55in; top: 1.68in; letter-spacing: 0.07in; z-index: 2;" class="bir-form-text">{{ company.tin[9:12] }}</div>


<div style="left: 3.88in; top: 1.68in; letter-spacing: 0.14in;" class="bir-form-text">{{ company.rdo_code[:3] }}</div>

<div style="left: 5.88in; top: 1.66in; font-size: 0.5em; text-align: center; height: 0.20in; width: 2.10in;" class="bir-form-text">
    <div style="vertical-align: middle;">{{ company.vat_industry }}</div>
</div>


<div style="left: 0.92in; top: 2.04in;" class="bir-form-text">{{ company.company_name }}</div>
<div style="left: 6.76in; top: 2.04in; letter-spacing: 0.06in;" class="bir-form-text">{{ company.phone }}</div>
<div style="left: 0.92in; top: 2.39in;" class="bir-form-text">{{ company.address }}</div>
<div style="left: 7.35in; top: 2.40in; letter-spacing: 0.08in;" class="bir-form-text">{{ company.zipcode[:4] }}</div>

<div class="bir-form-data">
    <!-- sales -->

    <!-- 12A/B -->
    <div style="left: 4.35in; top: 3.14in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.vat_sales.total_base_tax_base) }}</div>
    <div style="left: 6.31in; top: 3.14in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.vat_sales.total_base_tax_amount) }}</div>

    <!-- 13A/B -->
    <div style="left: 4.35in; top: 3.28in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.sales_to_government.total_base_tax_base) }}</div>
    <div style="left: 6.31in; top: 3.28in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.sales_to_government.total_base_tax_amount) }}</div>

    <!-- 14 -->
    <div style="left: 4.35in; top: 3.42in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.zero_rated_sales.total_base_tax_base) }}</div>

    <!-- 15 -->
    <div style="left: 4.35in; top: 3.56in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.exempt_sales.total_base_tax_base) }}</div>

    <!-- 16 -->
    <div style="left: 4.35in; top: 3.70in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.total_sales_receipts) }}</div>
    <div style="left: 6.31in; top: 3.70in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.total_output_tax_due) }}</div>

    <!-- less other allowable input tax -->
    <!-- 17A -->
    <div style="left: 6.31in; top: 3.94in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.less_allowable_input_tax.input_tax_carried_over_from_previous_period) }}</div>
    <!-- 17B -->
    <div style="left: 6.31in; top: 4.09in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.less_allowable_input_tax.input_tax_deferred_on_capital_goods_exceeding_1m_from_previous_period) }}</div>
    <!-- 17C -->
    <div style="left: 6.31in; top: 4.24in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.less_allowable_input_tax.transitional_input_tax) }}</div>
    <!-- 17D -->
    <div style="left: 6.31in; top: 4.40in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.less_allowable_input_tax.presumptive_input_tax) }}</div>
    <!-- 17E -->
    <div style="left: 6.31in; top: 4.55in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.less_allowable_input_tax.allowable_input_tax_others) }}</div>
    <!-- 17F -->
    <div style="left: 6.31in; top: 4.70in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.total_other_allowable_input_tax) }}</div>
    

    <!-- purchases -->
    <!-- 18A/B -->
    <div style="left: 4.35in; top: 4.96in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.capital_goods.total_base_tax_base) }}</div>
    <div style="left: 6.31in; top: 4.96in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.capital_goods.total_base_tax_amount) }}</div>

    <!-- 18C/D -->
    <div style="left: 4.35in; top: 5.10in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.capital_goods_exceeding_1m.total_base_tax_base) }}</div>
    <div style="left: 6.31in; top: 5.10in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.capital_goods_exceeding_1m.total_base_tax_amount) }}</div>

    <!-- 18E/F -->
    <div style="left: 4.35in; top: 5.24in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.domestic_purchases_of_goods.total_base_tax_base) }}</div>
    <div style="left: 6.31in; top: 5.24in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.domestic_purchases_of_goods.total_base_tax_amount) }}</div>

    <!-- 18G/H -->
    <div style="left: 4.35in; top: 5.38in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.importation_of_goods.total_base_tax_base) }}</div>
    <div style="left: 6.31in; top: 5.38in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.importation_of_goods.total_base_tax_amount) }}</div>

    <!-- 18I/J -->
    <div style="left: 4.35in; top: 5.52in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.domestic_purchase_of_services.total_base_tax_base) }}</div>
    <div style="left: 6.31in; top: 5.52in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.domestic_purchase_of_services.total_base_tax_amount) }}</div>

    <!-- 18K/L -->
    <div style="left: 4.35in; top: 5.66in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.services_rendered_by_non_residents.total_base_tax_base) }}</div>
    <div style="left: 6.31in; top: 5.66in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.services_rendered_by_non_residents.total_base_tax_amount) }}</div>

    <!-- 18M -->
    <div style="left: 4.35in; top: 5.80in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.purchases_not_qualified_for_input_tax.total_base_tax_base) }}</div>

    <!-- 18N/O -->
    <div style="left: 4.35in; top: 5.94in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.others.total_base_tax_base) }}</div>
    <div style="left: 6.31in; top: 5.94in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.others.total_base_tax_amount) }}</div>

    <!-- total current purchases -->
    <!-- 18P -->
    <div style="left: 4.35in; top: 6.08in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.total_current_purchases) }}</div>

    <!-- total available input tax -->
    <!-- 19 -->
    <div style="left: 6.31in; top: 6.22in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.total_available_input_tax) }}</div>

    <!-- less deductions from input tax -->
    <!-- 20A -->
    <div style="left: 6.31in; top: 6.64in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.less_deductions_from_input_tax.input_tax_deferred_on_capital_goods_from_previous_period_1m_up) }}</div>
    <!-- 20B dont fill out -->
    <div style="left: 6.31in; top: 6.78in;" class="bir-form-text bir-form-amount"></div>
    <!-- 20C -->
    <div style="left: 6.31in; top: 6.92in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.less_deductions_from_input_tax.input_tax_allocable_to_exempt_sales) }}</div>
    <!-- 20D -->
    <div style="left: 6.31in; top: 7.06in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.less_deductions_from_input_tax.vat_refund_tcc_claimed) }}</div>
    <!-- 20E -->
    <div style="left: 6.31in; top: 7.20in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.less_deductions_from_input_tax.less_deductions_from_input_tax_others) }}</div>
    <!-- <div style="left: 6.31in; top: 6.92in;" class="bir-form-text bir-form-amount"> "{:,.2f}".format(totals.directly_attributable_to_exempt_sales.total_base_tax_amount) </div> -->

    <!-- total deductions from input tax -->
    {% set total_deductions_from_input_tax = 0 %}
    <!-- 20F -->
    <div style="left: 6.31in; top: 7.34in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.total_deductions_from_input_tax) }}</div>

    <!-- total allowable input tax -->=
    <!-- 21 -->
    <div style="left: 6.31in; top: 7.48in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.total_allowable_input_tax) }}</div>

    <!-- net vat payable -->
    <!-- 22 -->
    <div style="left: 6.31in; top: 7.62in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.net_vat_payable) if totals.net_vat_payable >= 0 else "({:,.2f})".format(-totals.net_vat_payable) }}</div>
    
    <!-- total tax credit payments -->
    <!-- 23G -->
    <div style="left: 6.31in; top: 8.74in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.total_tax_credit_payments) }}</div>

    <!-- tax still payable -->
    <!-- 24 -->
    <div style="left: 6.31in; top: 8.88in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.tax_still_payable) if totals.tax_still_payable >= 0 else "({:,.2f})".format(-totals.tax_still_payable) }}</div>

    <!-- penalties -->
    <!-- 25A -->
    <div style="left: 1.23in; top: 9.18in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.penalties.surcharge) }}</div>
    <!-- 25B -->
    <div style="left: 3.03in; top: 9.18in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.penalties.interest) }}</div>
    <!-- 25C -->
    <div style="left: 4.31in; top: 9.18in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.penalties.compromise) }}</div>
    <!-- 25D -->
    <div style="left: 6.31in; top: 9.14in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.penalties.total) }}</div>

    <!-- total amount payable -->
    <!-- 26 -->
    <div style="left: 6.31in; top: 9.32in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.total_amount_payable) if totals.total_amount_payable >= 0 else "({:,.2f})".format(-totals.total_amount_payable) }}</div>

    <!-- 2nd page -->
    <!-- Schedule 4 -->
    <div style="left: 6.50in; top: 22.14in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.less_deductions_from_input_tax.input_tax_directly_attributable_to_exempt_sales) }}</div>
    <div style="left: 6.50in; top: 22.48in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.ratable_portion_of_input_tax_not_directly_attributable) }}</div>
    <div style="left: 4.70in; top: 22.48in; width: 1.80in; text-align: center;" class="bir-form-text bir-form-amount">
        {{ "{:,.2f}".format(totals.exempt_sales.total_base_tax_base) }} x {{ "{:,.2f}".format(totals.less_deductions_from_input_tax.amount_of_input_tax_not_directly_attributable) }}</div>
    <div style="left: 4.70in; top: 22.68in; width: 1.80in; text-align: center;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.total_sales_receipts) }}</div>
    <div style="left: 6.50in; top: 22.68in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.less_deductions_from_input_tax.input_tax_allocable_to_exempt_sales) }}</div>
</div>

<div style="left: 1.00in; top: 9.72in; width: 3.85in; text-align: center;" class="bir-form-text-footer">
    <span>{{ company.authorized_representative_1 }}</span>
</div>

<div style="left: 5.40in; top: 9.72in; width: 2.20in; text-align: center;" class="bir-form-text-footer">
    <span>{{ company.authorized_representative_2 }}</span>
</div>

<div style="left: 1.00in; top: 10.28in; width: 1.50in; text-align: center;" class="bir-form-text-footer">
    <span>{{ company.title_1 }}</span>
</div>

<div style="left: 2.80in; top: 10.28in; width: 2.10in; text-align: center;" class="bir-form-text-footer">
    <span>{{ preformat_tin_with_dash(company.tin_of_signatory_1) }}</span>
</div>

<div style="left: 5.40in; top: 10.28in; width: 2.20in; text-align: center;" class="bir-form-text-footer">
    <span>{{ company.title_2 }}</span>
</div>

<div style="left: 5.40in; top: 10.60in; width: 2.20in; text-align: center;" class="bir-form-text-footer">
    <span>{{ preformat_tin_with_dash(company.tin_of_signatory_2) }}</span>
</div>
 
<div>
    {% if is_local_dev() %}
        <img src="https://erpnextsandbox.serviotech.com/assets/phbir/img/forms/bir2550m-1.png" height="100%" width="100%" style="position: absolute; top: 0; left: 0; z-index: -1;">
        <img src="https://erpnextsandbox.serviotech.com/assets/phbir/img/forms/bir2550m-2.png" height="100%" width="100%" style="position: absolute; top: 14.00in; left: 0; z-index: -1;">
    {% else %}
        <img src="/assets/phbir/img/forms/bir2550m-1.png" height="100%" width="100%" style="position: absolute; top: 0; left: 0; z-index: -1;">
        <img src="/assets/phbir/img/forms/bir2550m-2.png" height="100%" width="100%" style="position: absolute; top: 14.00in; left: 0; z-index: -1;">
    {% endif %}
</div>