<style>
    .print-format {
        font-family: monospace;
        font-size: 0.80em;
        width: 8.5in;
        min-height: 14in;
        
        margin-top: 0mm;
        margin-left: 0mm;
        margin-right: 0mm;
        margin-bottom: 0mm;
        
        padding-top: 0mm;
        padding-left: 0mm;
        padding-right: 0mm;
        margin-bottom: 0mm;
    }
    .bir-form-text {
        font-size: 0.80em;
        width: 100%;
        position: absolute;
    }
    .bir-form-amount {
        text-align: right;
        width: 1.65in;
        border: solid red 1px;
    }
    .bir-form-data {
        font-size: 0.70em;
    }
    table.table-income-payments {
        left: 0.28in; 
        top: 5.44in; 
        width: 8in;
    }
    table.table-income-payments tr td {
        height: 18px;
        text-align: right;
    }
    
    table.table-money-payments {
        left: 0.28in; 
        top: 7.98in; 
        width: 8in;
    }
    table.table-money-payments tr td {
        height: 18px;
        text-align: right;
    }
    </style>
    <div style="left: 2.63in; top: 1.26in; letter-spacing: 0.08in;" class="bir-form-text">{{ ("0" + month)[-2:] }}</div>
    <div style="left: 2.96in; top: 1.26in; letter-spacing: 0.13in;" class="bir-form-text">{{ year }}</div>

    <!-- cover the circles! -->
    <div style="left: 2.52in; top: 1.68in; width: 0.41in; height: 0.16in; z-index: 1; background-color: white;" class="bir-form-text"></div>
    
    
    <div style="left: 0.96in; top: 1.68in; letter-spacing: 0.07in;" class="bir-form-text">{{ company.tin[:3] }}</div>
    <div style="left: 1.48in; top: 1.68in; letter-spacing: 0.07in;" class="bir-form-text">{{ company.tin[3:6] }}</div>
    <div style="left: 2.01in; top: 1.68in; letter-spacing: 0.07in;" class="bir-form-text">{{ company.tin[6:9] }}</div>
    <div style="left: 2.55in; top: 1.68in; letter-spacing: 0.07in; z-index: 2;" class="bir-form-text">{{ company.tin[9:12] }}</div>
    
    
    <div style="left: 0.92in; top: 2.04in;" class="bir-form-text">{{ company.company_name }}</div>
    <div style="left: 0.92in; top: 2.39in;" class="bir-form-text">{{ company.address }}</div>
    <div style="left: 7.35in; top: 2.40in; letter-spacing: 0.08in;" class="bir-form-text">{{ company.zipcode[:4] }}</div>
    
    <div class="bir-form-data">
        totals: 
        {{ totals }}

        <!-- 12A/B -->
        <div style="left: 4.35in; top: 3.14in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.vat_sales.total_base_tax_base) }}</div>
        <div style="left: 6.31in; top: 3.14in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.vat_sales.total_base_tax_amount) }}</div>

        <!-- 13A/B -->
        <div style="left: 4.35in; top: 3.28in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.sales_to_government.total_base_tax_base) }}</div>
        <div style="left: 6.31in; top: 3.28in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.sales_to_government.total_base_tax_amount) }}</div>

        <!-- 14 -->
        <div style="left: 4.35in; top: 3.42in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.zero_rated_sales.total_base_tax_base) }}</div>

        <!-- 15 -->
        <div style="left: 4.35in; top: 3.56in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(totals.exempt_sales.total_base_tax_base) }}</div>

        {% set total_sales_receipts = totals.vat_sales.total_base_tax_base + totals.sales_to_government.total_base_tax_base + totals.zero_rated_sales.total_base_tax_base + totals.exempt_sales.total_base_tax_base %}
        {% set total_output_tax_due = totals.vat_sales.total_base_tax_amount +totals.sales_to_government.total_base_tax_amount %}
        <!-- 16 -->
        <div style="left: 4.35in; top: 3.70in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(total_sales_receipts) }}</div>
        <div style="left: 6.31in; top: 3.70in;" class="bir-form-text bir-form-amount">{{ "{:,.2f}".format(total_output_tax_due) }}</div>
    </div>
    <div>
        <!-- <img src="/assets/phbir/img/forms/bir2550m-1.png" height="100%" width="100%" style="position: absolute; top: 0; left: 0; z-index: -1;">
        <img src="/assets/phbir/img/forms/bir2550m-2.png" height="100%" width="100%" style="position: absolute; top: 14.00in; left: 0; z-index: -1;"> -->

        <img src="https://erpnextsandbox.serviotech.com/assets/phbir/img/forms/bir2550m-1.png" height="100%" width="100%" style="position: absolute; top: 0; left: 0; z-index: -1;">
        <img src="https://erpnextsandbox.serviotech.com/assets/phbir/img/forms/bir2550m-2.png" height="100%" width="100%" style="position: absolute; top: 14.00in; left: 0; z-index: -1;">
    </div>
    
    <!-- <div style="page-break-before: always;">
        <img src="/assets/phbir/img/forms/2307-2.png" height="100%" width="100%" style="position: absolute; top: 13in; left: 0; z-index: -1;">
    </div> -->
    